body {
    /* Normal */
    font-size: 18px;
    font-family: "Corbel";
    color: Black;
    text-align: left;
    overflow: auto;
}

td {
    /* Table */
    font-size: 14px;
    font-family: "Corbel";
    overflow: auto;
}

title {
    font-size: 48px;
    font-family: "Corbel";
    color: DarkBlue;
    text-align: center;
    width: 100%;
    background-color: black;
    left: 0;
}

h1 {
    /* Header 1 */
    font-size: 48px;
    font-family: "Corbel";
    color: #bf3b34;
    text-align: center;
    width: 100%;
    /*position: fixed;*/
    background-color: #231f20;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

h2 {
    /* Header 2 */
    font-size: 22px;
    font-family: "Corbel";
    color: #bf3b34ff;
    text-align: left;
}

h3 {
    /* Header 3 */
    left: 5;
    right: 5;
    margin-top: 0;
    font-size: 18px;
    font-family: "Book Antigua";
    color: DarkRed;
    text-align: left;
}

.r {
    /* Code block */
    font-size: 13px;
    font-family: "Book Antigua";
    margin-top: 0;
}

pre {
    /* Code block - determines code spacing between lines */
    font-size: 13px;
    font-family: "Book Antigua";
}

pre .bash {
    background: #B53389;
    font-size: 13px;
    font-family: "Book Antigua";
}

/* Define styles for the footer */
.footer {
    /*footer*/
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #231f20;
    color: #bf3b34ff;
    font-size: 13px;
    text-align: center;
    margin-top: 0;
    padding: 10px;
}

.footer::after {
    content: "";
    display: block;
    position: absolute;
    /* Set the position property to absolute */
    bottom: -30px;
    /* Set the distance from the bottom to create the shiny effect */
    left: 0;
    right: 0;
    height: 5px;
    /* Set the height of the shiny effect */
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    /* Use a linear gradient to create the shiny effect */
}

/* Add padding to the content area to push it above the footer */
.content {
    padding-bottom: 40px;
    /* Adjust this value to match the height of the footer */
}

.any-of-label-container {
    display: flex;
    justify-content: flex-start;
    /* Update to justify-content: flex-start; */
    margin-bottom: 5px;
    margin-top: -25px;
    /* Add margin-top to align with checkboxes */
}

.any-of-label {
    margin-top: 10px;
    margin-right: 0;
    color: blue;
    /* Update to make any of label blue */
}

.any-of-checkbox {
    margin-right: 10px;
    color: blue;
    /* Update to make checkboxes blue */
    background-color: #83bcf1;
}

.highlight {
    color: blue;
    font-weight: 700;
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.input-container input {
    flex: 1;
    border: none;
    outline: none;
}

.even {
    background-color: rgb(221, 94, 94);
    /* Custom background color for even rows */
}

.odd {
    background-color: #83bcf1;
    /* Custom background color for odd rows */
}

.input-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    /* Update to flip checkboxes to the left */
}

.invalid-input {
    /* Check invalid input*/
    color: red;
    border: 2px solid red;
}

#footer_text {
    font-size: 13px;
    font-family: "Corbel";
    font-style: normal;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #231f20;
    border-radius: 15px;
}

#helpText {
    font-size: 14px;
    font-family: "Corbel";
    font-style: normal;
    color: blue;
}

/*Help Block Link Styles*/
.help-block a {
    color: #231f20 !important;
    font-size: 18px;
    font-family: "Corbel", sans-serif;
}

/*Help Block Bold Text Styles*/
.help-block b {
    color: darkred !important;
}

/*Help Block Header 4 Styles*/
.help-block h4 {
    font-size: 18px;
    font-family: "Corbel", sans-serif;
    color: blue;
    margin-top: 5px;
    margin-bottom: 0px;
}

/*Help Block Header 4 Styles*/
.help-block h5 {
    font-size: 20px;
    font-family: "Corbel", sans-serif;
    font-weight: bold;
    color: darkred;
    margin-top: 15px;
    margin-bottom: 10px;
}

.slim-info-icon {
    font-size: 12px;
    color: blue;
}

.shinyalert {
    max-width: 600px;
    /* Adjust width as needed */
}